{% extends "base.html" %}

{% block title %}
	{{mailinglist.name }} Management
{% endblock title %}

{% block body %}
	<h1>{{mailinglist.name}} Management
		<a href="{% url 'delete_mailinglist' pk=mailinglist.id %}" class="btn btn-danger">Delete</a>
	</h1>

	<div>
		<a href="">Subscription Link</a>
	</div>

	<h2>Messages</h2>
	<div>
		Send new
		<a href="" class="btn btn-primary">Send new Message</a>
	</div>
	<ul>
		{% for message in mailinglist.message_set.all  %}
			<li>
				<a href="">{{message.subject}}</a>
			</li>
		{% endfor %}
	</ul>
	<h2>Subscribers</h2>
	<ul>
		{% for subscriber in mailinglist.subscriber_set.all %}
			<li>
				{{subscriber.email}}
				{{subscriber.confirmed|yesno:"confirmed,unconfirmed"}}
				<a href="">Unsubscribe</a>
			</li>
		{% endfor %}
	</ul>
{% endblock body %}

